page-quizcontent {
    .card{
        border-radius:7px;
    }
    
    // @-webkit-keyframes click-wave {
    //     0% {
    //       height: 20px;
    //       width: 20px;
    //       opacity: 0.35;
    //       position: relative;
    //     }
    //     100% {
    //       height: 200px;
    //       width: 200px;
    //       margin-left: -80px;
    //       margin-top: -80px;
    //       opacity: 0;
    //     }
    //   }
    //   @-moz-keyframes click-wave {
    //     0% {
    //       height: 20px;
    //       width: 20px;
    //       opacity: 0.35;
    //       position: relative;
    //     }
    //     100% {
    //       height: 200px;
    //       width: 200px;
    //       margin-left: -80px;
    //       margin-top: -80px;
    //       opacity: 0;
    //     }
    //   }
    //   @keyframes click-wave {
    //     0% {
    //       height: 20px;
    //       width: 20px;
    //       opacity: 0.35;
    //       position: relative;
    //     }
    //     100% {
    //       height: 200px;
    //       width: 200px;
    //       margin-left: -80px;
    //       margin-top: -80px;
    //       opacity: 0;
    //     }
    //   }
    //   .option-input {
    //     -webkit-appearance: none;
    //     -moz-appearance: none;
    //     -ms-appearance: none;
    //     -o-appearance: none;
    //     appearance: none;
    //     position: relative;
    //     top: -0.66667px;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     height: 20px;
    //     width: 20px;
    //     -webkit-transition: all 0.15s ease-out 0s;
    //     -moz-transition: all 0.15s ease-out 0s;
    //     transition: all 0.15s ease-out 0s;
    //     background: #cbd1d8;
    //     border: none;
    //     color: #fff;
    //     cursor: pointer;
    //     display: inline-block;
    //     margin-right: 0.5rem;
    //     outline: none;
    //     position: relative;
    //     z-index: 1000;
    //   }
    //   .option-input:hover {
    //     background: #9faab7;
    //   }
    //   .option-input:checked {
    //     background: linear-gradient(to right, #ff3157 0%,#fc6a5d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */    
        
    //   }
    //   .option-input:checked::before {
    //     height: 20px;
    //     width: 20px;
    //     position: absolute;
    //     content: '';
    //     display: inline-block;
    //     font-size: 26.66667px;
    //     text-align: center;
    //     line-height: 20px;
    //   }
    //   .option-input:checked::after {
    //     -webkit-animation: click-wave 0.65s;
    //     -moz-animation: click-wave 0.65s;
    //     animation: click-wave 0.65s;
    //     background: #ff3157;
    //     content: '';
    //     display: block;
    //     position: relative;
    //     z-index: 100;
    //   }
    //   .option-input.radio {
    //     border-radius: 50%;
    //   }
    //   .option-input.radio::after {
    //     border-radius: 50%;
    //   }
    .quiz-no{
      text-align:center;
    }

    .quiz-content label ion-radio{
      position: relative;
      top: 3px;
    }
      
      .quiz-content label{
        // line-height: 50px;
        margin:5px auto 5px auto;
        display: block;
      }
      .quiz-content label input{
        vertical-align: top;
      }
}
