page-materi {
    .img-thumbnail img{
        border-radius: 50px;
    }
    .button-lihat{
        padding: 7px;
        background: linear-gradient(to right, #ff3157 0%,#fc6a5d 100%);
        color: white;
        border-radius: 15px;
    }
}
