page-home {
    .img-logo{
        max-width: 150px;
        /* height: auto; */
        position: relative;
        left: 50%;
        margin-left: -75px;
        // background-color: rgba(255, 255, 255, 0.6);
        // margin-bottom:;
    }
    .title{
        text-align:center;
        margin-bottom: 55px;
        color: white;
    }
}
