.menu button{
    background-color: #ff8989;
}

.button-quiz{
    background: linear-gradient(to right, #ff3157 0%,#fc6a5d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */    
}

.toolbar-background{
    background: linear-gradient(to right, #ff3157 0%,#fc6a5d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.toolbar-title{
    color:white;
}

.ion-md-arrow-back{
    color:white;
}

.menu{
background: linear-gradient(to right, #ff3157 0%,#fc6a5d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.back-button-icon, .back-button-text{
    color:white;
}

.radio-icon{
    background-color: #f3f3f3;
    border-radius: 25px;
}
.body{
    background-image: url('../assets/imgs/bg-gradient.jpg');
    // size:cover;
}

.list{
    border-radius: 5px;
}

