page-score {
    .score-kamu{
        text-align: center;
    }

    .score-round{
        max-width: 199px;
        min-height: 199px;
        /* width: 300px; */
        /* height: 300px; */
        border-radius: 150px;
        background-color: whitesmoke;
        margin: 0 auto 20px auto;
        position: relative;
       
    }
    .score-num{
        position: absolute;
        top: 50%;
        margin-top: -38px;
        width: 200px;
        height: 76px;
    }
    .score-num h2{
        text-align: center;
        font-size: 81px;
        line-height: 1;
    }

    table{
        margin-bottom:20px;
    }

    table tr td{
        padding-right: 10px;
    }
}
